.idc-footers{
    display: flex;
}
.idc-footers .idc-services-box{
    display: flex;
    margin-right: 24%;
}
.idc-footers .idc-services-box .idc-pay-once{
    background: #9AD1DC;
    box-shadow: 0px 8px 11px #D6D7D9;
    border-radius: 2px;
    width: 106px;
    height: 94px;
    border-radius: 0.5px solid #AAA;
    font-family: "Bebas Neue";
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 28px;
}
.idc-footers .idc-services-box .idc-pay-once .idc-pay-once-text{
    cursor: pointer;
}
.idc-footers .idc-services-box .idc-affirm{
    width: 106px;
    height: 94px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}
.idc-footers .idc-services-box .idc-affirm img{
    width: 75px;
    height: 30px;
}
.idc-footers .idc-services-box .idc-affirm .idc-affirm-financings-text{
    font-family: "Open Sans";
    font-weight: 400;
    font-style: italic;
    font-size: 14px;
    line-height: 18px;
}
.idc-footers .idc-primary-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}
.idc-footers .idc-primary-buttons .idc-button{
    width: 193px; 
    border: 0.5px solid #000;
    height: 55px;
    background-color: #FFAD48;
    font-family: "Bebas Neue";
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 12px; 
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.idc-footers .idc-primary-buttons .idc-button.idc-buttons-visible{
    display: flex;
}

@media(max-width: 1265px){
    .idc-footers{
        margin-top: 80px;
        flex-wrap: wrap;
    }
    .idc-footers .idc-primary-buttons .idc-button{
        margin-top: 20px;
    }
    .idc-footers .idc-primary-buttons, .idc-primary-buttons .idc-button.idc-buttons-visible{
        width: 100%;
    }
    .idc-footers .idc-primary-buttons{
        margin-bottom: 10px;
    }
    .idc-footers .idc-services-box{
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-right: 0;
    }
    .idc-footers .idc-services-box .idc-affirm{
        flex-direction: row;
        width: 100%;
        margin-top: 25px;
        height: 15px;
    }
    .idc-footers .idc-services-box .idc-affirm .idc-affirm-financings-text{
        padding: 10px;
    }
    .idc-footers .idc-services-box .idc-affirm img{
        width: 60px;
        height: 23px;
    }
    .idc-footers .idc-services-box .idc-pay-once{
        margin-right: 0;
    }
    .idc-footers .idc-primary-buttons .idc-button.idc-buttons-visible{
        width: 193px;
    }
    @media (min-width: 140px) and (max-width: 241px) {
        .idc-footers{
            margin-top: 145px;
            flex-wrap: wrap;
        }
    }
    
}