#player{
    width: 100%;
    height: 530px;
}
.idc-threekit-main{
    padding: 2%;
    height: max-content;
}
.idc-threekit-main .idc-content-wrapper{
    position: relative;
    top: 115px;
    background-color: #fff;
    height: max-content;
    display: flex;
}
.idc-threekit-main .idc-content-wrapper .idc-left-col{
    width: 50%;
    height: 100%;
    align-self: center;
}

.idc-threekit-main .idc-content-wrapper .idc-right-col{
    padding: 2%;
    height: max-content;
    width: 50%;
}
.idc-threekit-main .idc-content-wrapper .idc-right-col .idc-headlines{
    width: 95%;
}
.idc-threekit-main .idc-content-wrapper .idc-right-col .idc-headlines .idc-info{
    display: flex;
    justify-content: space-between;
}
.idc-threekit-main .idc-content-wrapper .idc-right-col .idc-headlines .idc-info .idc-title{
    margin-bottom: 31px;
    font-weight: 800;
}
.idc-threekit-main .idc-content-wrapper .idc-right-col .idc-headlines .idc-info .idc-pricing{
    font-weight: 800;
}
.idc-threekit-main .idc-content-wrapper .idc-right-col .idc-headlines .idc-info .idc-title, .idc-threekit-main .idc-content-wrapper .idc-right-col .idc-headlines .idc-info .idc-pricing{
    color: #1C1C1C;
    font-family: "Bebas Neue";
    font-size: 24px;
    letter-spacing: -0.84px;
    line-height: 46px;
}
.idc-stars .anticon svg{
    color: #FFAD48;
    font-size: 18px;
}
.idc-stars .idc-reviews {
    margin-left: 5px;
    color: #969696;
    font-family: Arial;
    font-size: 13px;
    letter-spacing: -0.1px;
    line-height: 18px;
}
.idc-stars{
    margin-bottom: 37px;
}
.idc-loader {
    animation:spin 1s infinite linear;
    border:solid 2vmin transparent;
    border-radius:50%;
    border-right-color:#52c41a;
    border-top-color:#52c41a;
    box-sizing:border-box;
    height:20vmin;
    left:calc(50% - 10vmin);
    position:fixed;
    top:calc(50% - 10vmin);
    width:20vmin;
    z-index:1;
}
.idc-loader:before {
    animation:spin 2s infinite linear;
    border:solid 2vmin transparent;
    border-radius:50%;
    border-right-color:#3C93E4;
    border-top-color:#3C93E4;
    box-sizing:border-box;
    content:"";
    height:16vmin;
    left:0;
    position:absolute;
    top:0;
    width:16vmin;
}
.idc-loader:after {
    animation:spin 3s infinite linear;
    border:solid 2vmin transparent;
    border-radius:50%;
    border-right-color:#52c41a;
    border-top-color:#52c41a;
    box-sizing:border-box;
    content:"";
    height:12vmin;
    left:2vmin;
    position:absolute;
    top:2vmin;
    width:12vmin;
}
  
  @keyframes spin {
    100% {
      transform:rotate(360deg);
    }
  }
.idc-loading-text{
    height: 20vmin;
    left: calc(46% - 10vmin);
    position: fixed;
    top: calc(75% - 10vmin);
    width: 65vmin;
    z-index: 1;
}
.idc-loading-text::after{
    content:"";
    height:12vmin;
    left:2vmin;
    position:absolute;
    top:2vmin;
    width:12vmin;
}

@media(max-width: 1265px){
    .idc-threekit-main .idc-content-wrapper{
        flex-wrap: wrap;
    }
    .idc-loading-text{
        left: calc(25% - 10vmin);
        top: calc(65% - 10vmin);
        width: 80vmin;
    }
    #player{
        height: 275px;
        position: fixed;
        left: 2%;
        top: 100px;
        overflow: hidden;
        width: 95%;
    }
    .idc-threekit-main .idc-content-wrapper .idc-right-col .idc-headlines .idc-info{
        flex-wrap: wrap;
        margin: 25px 0;
    }
}