.idc-tab-nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: max-content;
}
.idc-tab-nav .idc-tab-headers{
    display: flex;
    margin-bottom: 55px;
    justify-content: space-around;
}
.idc-tab-nav .idc-tab-headers .idc-tab-nav-content{
    display: flex;
    width: 50%;
    box-sizing: border-box;
    border-bottom: 2px solid #D4D2D2;
}
.idc-tab-nav .idc-tab-headers .idc-tab-nav-content  .idc-tab-content-box{
    width: 30%;
    height: max-content;
}
.idc-tab-nav .idc-tab-headers .idc-tab-nav-content .idc-tab-headers-section{
    color: #000;
    font-family: Oswald;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 18px;
    font-weight: 500;
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.idc-tab-active{
    background-color: #9AD1DC;
}
.idc-tab-nav .idc-tab-cointains{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 75%;
    margin-bottom: 39px;
    height: 180px;
}
.idc-tab-nav .idc-tab-cointains .idc-tab-content-box{
    width: 100%;
    height: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;
    display: none;
}
.idc-tab-nav .idc-tab-cointains .idc-tab-content-box.idc-visible-content{
    display: flex;
}
.idc-tab-nav .idc-tab-cointains .idc-tab-content-box .idc-tab-color-0,
.idc-tab-nav .idc-tab-cointains .idc-tab-content-box .idc-tab-color-1,
.idc-tab-nav .idc-tab-cointains .idc-tab-content-box .idc-tab-color-2,
.idc-tab-nav .idc-tab-cointains .idc-tab-content-box .idc-tab-color-3,
.idc-tab-nav .idc-tab-cointains .idc-tab-content-box .idc-tab-color-4,
.idc-tab-nav .idc-tab-cointains .idc-tab-content-box .idc-tab-color-5,
.idc-tab-nav .idc-tab-cointains .idc-tab-content-box .idc-tab-color-6,
.idc-tab-nav .idc-tab-cointains .idc-tab-content-box .idc-tab-color-7,
.idc-tab-nav .idc-tab-cointains .idc-tab-content-box .idc-tab-color-8,
.idc-tab-nav .idc-tab-cointains .idc-tab-content-box .idc-tab-color-9
{
    width: 53px;
    height: 53px;
    box-shadow: 0 8px 11px 0 rgba(0,0,0,0.22);
    cursor: pointer;
    margin-bottom: 5px;

}
 .idc-tab-content-box .idc-option-active{
    border: 5px solid #E3E3E3;
}
.idc-tab-nav .idc-tab-cointains .idc-tab-content-box .idc-tab-overlap-0.idc-option-active-non-color,
.idc-tab-nav .idc-tab-cointains .idc-tab-content-box .idc-tab-overlap-1.idc-option-active-non-color,
.idc-tab-nav .idc-tab-cointains .idc-tab-content-box .idc-tab-overlap-2.idc-option-active-non-color,
.idc-tab-nav .idc-tab-cointains .idc-tab-content-box .idc-tab-overlap-3.idc-option-active-non-color,
.idc-tab-nav .idc-tab-cointains .idc-tab-content-box .idc-tab-overlap-4.idc-option-active-non-color,
.idc-tab-nav .idc-tab-cointains .idc-tab-content-box .idc-tab-overlap-5.idc-option-active-non-color,
.idc-tab-nav .idc-tab-cointains .idc-tab-content-box .idc-tab-overlap-6.idc-option-active-non-color,
.idc-tab-nav .idc-tab-cointains .idc-tab-content-box .idc-tab-overlap-7.idc-option-active-non-color,
.idc-tab-nav .idc-tab-cointains .idc-tab-content-box .idc-tab-overlap-8.idc-option-active-non-color,
.idc-tab-nav .idc-tab-cointains .idc-tab-content-box .idc-tab-overlap-9.idc-option-active-non-color{
    box-sizing: border-box;
    border: 1px solid #000000;
    background-color: #333E48;
    color: #FFF;
    margin-bottom: 10px;
    
}
.idc-tab-nav .idc-tab-cointains .idc-tab-content-box .idc-tab-overlap-0,
.idc-tab-nav .idc-tab-cointains .idc-tab-content-box .idc-tab-overlap-1,
.idc-tab-nav .idc-tab-cointains .idc-tab-content-box .idc-tab-overlap-2,
.idc-tab-nav .idc-tab-cointains .idc-tab-content-box .idc-tab-overlap-3,
.idc-tab-nav .idc-tab-cointains .idc-tab-content-box .idc-tab-overlap-4,
.idc-tab-nav .idc-tab-cointains .idc-tab-content-box .idc-tab-overlap-5,
.idc-tab-nav .idc-tab-cointains .idc-tab-content-box .idc-tab-overlap-6,
.idc-tab-nav .idc-tab-cointains .idc-tab-content-box .idc-tab-overlap-7,
.idc-tab-nav .idc-tab-cointains .idc-tab-content-box .idc-tab-overlap-8,
.idc-tab-nav .idc-tab-cointains .idc-tab-content-box .idc-tab-overlap-9{
    box-sizing: border-box;
    height: 45px;
    border: 0.5px solid #333E48;
    background-color: #FFFFFF;
    box-shadow: 0 3px 10px 0 rgba(0,0,0,0.29);
    margin-right: 10px;
    margin-bottom: 10px;
    height: 45px;
    color: #545454;
    font-family: "Open Sans";
    font-size: 15px;
    letter-spacing: -0.2px;
    line-height: 22px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    width: max-content;
}
.idc-tab-nav .idc-tab-cointains .idc-tab-content-box.idc-non-color{
    justify-content: initial;
}
.idc-tab-nav .idc-tab-cointains .idc-tab-content-box .idc-tab-mosaic-0,
.idc-tab-nav .idc-tab-cointains .idc-tab-content-box .idc-tab-mosaic-1,
.idc-tab-nav .idc-tab-cointains .idc-tab-content-box .idc-tab-mosaic-2,
.idc-tab-nav .idc-tab-cointains .idc-tab-content-box .idc-tab-mosaic-3,
.idc-tab-nav .idc-tab-cointains .idc-tab-content-box .idc-tab-mosaic-4,
.idc-tab-nav .idc-tab-cointains .idc-tab-content-box .idc-tab-mosaic-5,
.idc-tab-nav .idc-tab-cointains .idc-tab-content-box .idc-tab-mosaic-6,
.idc-tab-nav .idc-tab-cointains .idc-tab-content-box .idc-tab-mosaic-7,
.idc-tab-nav .idc-tab-cointains .idc-tab-content-box .idc-tab-mosaic-8,
.idc-tab-nav .idc-tab-cointains .idc-tab-content-box .idc-tab-mosaic-9{
    font-family: 'Open Sans';
    font-weight: 600; 
    font-style: normal; 
    font-size: 14px; 
    line-height: 22px;
    letter-spacing: -0.2px;
    text-align: center; 
}
.idc-tab-nav .idc-tab-cointains  .idc-tab-content-box .idc-mosaic-elemnts{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.idc-tab-nav .idc-tabs-footer{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    margin-bottom: 52px;
}
.idc-tab-nav .idc-tabs-footer .idc-product-info{
    display: none;
}
.idc-tab-nav .idc-tabs-footer .idc-product-info.idc-product-info-visible{
    display: flex;
}
.idc-tab-nav .idc-tabs-footer .idc-product-info span, .idc-tab-nav .idc-tabs-footer .idc-product-info .idc-bussines-logic-text, .idc-tab-nav .idc-tabs-footer .idc-product-info .idc-bussines-logic-text span{
    font-family: "Open Sans";
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 32px;
    letter-spacing: -0.3px;
}
@media(max-width: 1265px){
    .idc-tab-nav .idc-tab-cointains .idc-tab-content-box .idc-tab-overlap-0,
    .idc-tab-nav .idc-tab-cointains .idc-tab-content-box .idc-tab-overlap-1,
    .idc-tab-nav .idc-tab-cointains .idc-tab-content-box .idc-tab-overlap-2,
    .idc-tab-nav .idc-tab-cointains .idc-tab-content-box .idc-tab-overlap-3,
    .idc-tab-nav .idc-tab-cointains .idc-tab-content-box .idc-tab-overlap-4,
    .idc-tab-nav .idc-tab-cointains .idc-tab-content-box .idc-tab-overlap-5,
    .idc-tab-nav .idc-tab-cointains .idc-tab-content-box .idc-tab-overlap-6,
    .idc-tab-nav .idc-tab-cointains .idc-tab-content-box .idc-tab-overlap-7,
    .idc-tab-nav .idc-tab-cointains .idc-tab-content-box .idc-tab-overlap-8,
    .idc-tab-nav .idc-tab-cointains .idc-tab-content-box .idc-tab-overlap-9{
        width: 100%;
        margin-right: 0;
    }
     .idc-tab-content-box .idc-non-color .idc-visible-content{
        flex-wrap: wrap;
    }
    .idc-tab-nav .idc-tab-cointains{
        width: 100%;
    }
    .idc-tab-nav .idc-tab-cointains .idc-tab-content-box{
        flex-wrap: wrap;
    }
    .idc-tab-nav .idc-tab-cointains .idc-tab-content-box .idc-tab-color-0,
    .idc-tab-nav .idc-tab-cointains .idc-tab-content-box .idc-tab-color-1,
    .idc-tab-nav .idc-tab-cointains .idc-tab-content-box .idc-tab-color-2,
    .idc-tab-nav .idc-tab-cointains .idc-tab-content-box .idc-tab-color-3,
    .idc-tab-nav .idc-tab-cointains .idc-tab-content-box .idc-tab-color-4,
    .idc-tab-nav .idc-tab-cointains .idc-tab-content-box .idc-tab-color-5,
    .idc-tab-nav .idc-tab-cointains .idc-tab-content-box .idc-tab-color-6,
    .idc-tab-nav .idc-tab-cointains .idc-tab-content-box .idc-tab-color-7,
    .idc-tab-nav .idc-tab-cointains .idc-tab-content-box .idc-tab-color-8,
    .idc-tab-nav .idc-tab-cointains .idc-tab-content-box .idc-tab-color-9{
        margin-bottom: 15px;
        margin-right: 10px;
    }
    .idc-tab-nav .idc-tabs-footer .idc-product-info span{
        margin-bottom: 20px;
    }
}