
html, body, #react-root {
  height: max-content;
  position: relative;
}
body{
  background-color: rgba(160,160,160,0.45);
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#react-root .idc-main .idc-navbar{
  background-color: #30383D;
  position: sticky;
  height: 100px;
  padding-left: 10%;
  align-items: center;
  display: flex;
}
.idc-col-2{
  width: 50%;
  display: flex;
  height: 100%;
  flex-direction: column;
}
.idc-tab-nav .idc-tab-cointains .idc-tab-content-box{
  width: 100%;
  justify-content: space-between;
}
@media(max-width: 620px){
  .idc-threekit-main .idc-content-wrapper .idc-col-2{
    width: 100%;
  }
}