
html, body, #react-root {
  height: max-content;
  position: relative;
}
body{
  background-color: rgba(160,160,160,0.45);
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#react-root .idc-main .idc-navbar{
  background-color: #30383D;
  position: fixed;
  z-index: 2;
  top:0;
  left:0;
  height: 100px;
  padding-left: 10%;
  align-items: center;
  display: flex;
  width: 100%;
}
.idc-col-2{
  width: 50%;
  display: flex;
  height: 100%;
  flex-direction: column;
}
.idc-tab-nav .idc-tab-cointains  .idc-tab-content-box{
  width: 100%;
  justify-content: space-between;
}
.idc-tab-nav{
  display: flex;
  width: 100%;
  flex-direction: column;
}
span.idc-red-font{
  color: #FF0000
}
span.idc-green-font{
  color: #1cda17
}
.idc-visible{
  display: flex !important;
}
@media(max-width: 1265px){
  .idc-threekit-main .idc-content-wrapper .idc-col-2{
    width: 100%;
    margin-top: 180px;
    position: relative;
  }
  #react-root .idc-main .idc-navbar{
    padding-left: 3%;
  }
}